.item {
  display: flex;
  align-items: flex-start;
  margin: 0 0 20px;
}

.user {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 0;
}
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  padding: 15px 0 0;
  width: calc(100% - 200px);
}
